body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #cfa1a1;
    color: white
}

#locationInfo {
    margin-top: 20px;
    font-size: 1.2em;
    color: white
}

button {
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #af4c4c;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #b0d66a;
}